// header and main navigation
header{
	.menubar{
		height: 60px;
		@include display-flex(flex);
		@include align-items(center);
		@include justify-content(space-between);
	}
	// hauptmenu responsive
	#mobile-nav{
		display: none;
		position: fixed;
		top: 105px;
		right: 0;
		background-color: $blue;
		li{

		}
		a{
			display: block;
			color: $white;
			padding: 2em;
			text-align: center;
			&:hover{
				background-color: $blue - 50;
			}
		}
		@include tablet-min{
			display: none;
		}
	}
	// haupt menu full width
	#desktop-nav{
		ul{
			@include display-flex(flex);
			@include flex-wrap(wrap);
		}
		a{
			display: block;
			text-align: center;
			padding: 22px 16px;
			text-decoration: none;
			&:hover{
				background-color: $blue;
				color: $white;
			}
		}
		@include tablet-max{
			display: none;
		}
	}
	/* w3school menu icon */
	.container {
		@include tablet-min{
			display:none;
		}
		cursor: pointer;
	}
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: $darkgrey;
		margin: 6px 0;
		transition: 0.4s;
	}
	/* Rotate first bar */
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
		transform: rotate(-45deg) translate(-9px, 6px) ;
	}
	/* Fade out the second bar */
	.change .bar2 {
		opacity: 0;
	}
	/* Rotate last bar */
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
		transform: rotate(45deg) translate(-8px, -8px) ;
	}/* w3school menu icon endet hier */
}
