// Theme Color pallet

// Red
// $red: #c23a2c;

$blue: #008f95 + 20;
$red: #F39C11;
// dark grey
$darkgrey: #383838;

// lightgrey
$lightgrey: #535353;

// white
$white: white;
// black
$black: black;
